* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 16px 0;
    background-color: #1b3a5c;
}

header h1 {
    color: #dae3f2;
    font-weight: normal;
}

header,
section h2 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #dae3f2;
    text-decoration: none;
}

header nav li a:hover {
    color: #6aace6;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.brands img {
    height: 24px;
}

.brands li {
    display: inline;
    margin-right: 16px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    color: #5056a3;
    font-weight: normal;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}